/* header is Bitter, Body is Lora */

/* Global Styles */

/* Clear Some Defaults */

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  /* Original site has media queries setting the max-width on a container around the whole site.
     This padding on the body is a stand in for that. */
  padding : 0 20px;
}

/* Fonts */
h1, h2, h3, h4, h5, h6, a {
  font-family: Bitter, Georgia, serif
}

p, span {
  font-family: Lora, Georgia, serif
}

/* Nav Bar */

header nav a:hover, header nav h1:hover {
  color:#b85051;
  transition: 300ms
}

header nav {
  border-color: #DDD;
  border-style: solid;
  border-width: 1px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

header nav ul {
  padding-left: 0px;
}

.site-branding {
  box-sizing: border-box;
  padding: 12px 0 24px 0;
  margin: 0 auto;
  text-align: center;
}

.site-branding img {
  zoom: 66%;
}

.menu a {
  border-top: 1px solid #DDD;
  display: block;
  padding: 12px 0px;
  padding-left: 15px;
}

.sub-menu a {
  padding-left: 30px;
}

.listen {
  flex: 0 0 50%;
  order: 1;
  padding: 17px 0;
  text-align: right;
}

header nav h1 {
  cursor: pointer;
  flex: 0 0 50%;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
  order: 0;
  padding: 17px 0;
}

header nav h1:before {
  /* fa-bars */
  content: "\f0c9";
  font-family: FontAwesome;
  margin: 10px;
}

/* Have to set vertical padding on the list here and on the list items in .menu so the
   hover state covers the whole nav */
.menu {
  padding-left: 0;
  text-align: center;
  margin: 0;
  flex: 3 1 55%;
  order: 2;
}

header nav li {
  list-style: none;
  text-align: left;
}

.menu li:first-child {
  position: relative;
}

.listen:before {
  font-family: FontAwesome;
  /* fa-play */
  content: "\f04b";
  font-size: 13px;
  margin: 10px;
}

.social {
  flex: 1 1 100%;
  padding: 9px 0;
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 0px;
  order: 3;
}

.social li {
  display: inline-block;
  font-size: 27px;
  margin-left: 40px;
}

.about:hover ul, .sub-menu:hover {
  display: block;
  opacity: 1;
}

.menu, .social {
  display: none;
}

.toggle-menu {
  display: block;
}

@media only screen and (min-width: 600px) {
  .social {
    display: block;
  }

  header nav {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header nav h1 {
    display: none;
  }

  .menu {
    display: block;
    order: 1;
  }

  .menu > li {
    display: inline-block;
    padding: 17px 15px;
  }

  .menu a {
    border-top: 0px;
    display: inline;
    padding-left: 0px;
  }

  .site-branding {
    padding: 30px 0 36px 0;
  }

  .site-branding img {
    zoom: 1;
  }

  .sub-menu a {
    padding-left: 30px;
  }

  .about > a:after {
    /* fa-angle-down */
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 5px;
  }

  .sub-menu {
    background-color: inherit;
    box-shadow: 0 0 3px #ccc;
    list-style: none;
    opacity: 0;
    position: absolute;
    transition: 300ms;
    top: 52px;
    left: 0px;
  }

  .sub-menu li {
    border: 1px solid #ddd;
    padding: 15px 60px 15px 0px;
    text-align: left;
  }

  .social {
    border: none;
    flex: 1 6 22%;
    order: 2;
    padding: 10px 10px;
    text-align: right;
  }

  .social li {
    margin-left: 10px;
  }

  .listen {
    text-align: left;
    flex: 1 6 22%;
    order: 0;
  }
}