:import('../../../css/classes/links.css') {
  linkHover: linkHover;
  linkDefaults: linkDefaults;
}

:import('../../../css/rules/palette.css') {
  borderColor: borderColor;
}

:import('../../../css/classes/icons.css') {
  faDefaults: faDefaults;
  hamburgerMenu: hamburgerMenu;
  play: play;
  facebookLogo: facebookLogo;
  twitterLogo: twitterLogo;
  instagramLogo: instagramLogo;
  downArrow: downArrow;
}

.navLink {
  composes: linkHover linkDefaults;
}

.siteBanner nav {
  border-style: solid;
  border-width: 1px 0;
  border-color: borderColor;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.siteBanner nav ul {
  padding-left: 0px;
}

.siteBranding {
  box-sizing: border-box;
  padding: 12px 0 24px 0;
  margin: 0 auto;
  text-align: center;
}

.siteBranding img {
  zoom: 66%;
}

.menu a {
  border-top: 1px solid borderColor;
  display: block;
  padding: 12px 0px;
  padding-left: 15px;
}

.subMenu a {
  padding-left: 30px;
}

.listen {
  composes: linkHover linkDefaults play;
  flex: 0 0 50%;
  order: 1;
  padding: 17px 0;
  text-align: right;
}

.listen:before {
  margin-right: 5px;
}

.siteBanner nav h1 {
  flex: 0 0 50%;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
  order: 0;
  padding: 17px 0;
}

.menuLink {
  composes: linkDefaults linkHover hamburgerMenu;
  flex: 0 0 50%;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
  order: 0;
  padding: 17px 0;
}

.menuLink:before {
  margin: 10px;
}

.menu {
  padding-left: 0;
  text-align: center;
  margin: 0;
  flex: 3 1 55%;
  order: 2;
}

.siteBanner nav li {
  list-style: none;
  text-align: left;
}

.menu li:first-child {
  position: relative;
}

.social {
  flex: 1 1 100%;
  padding: 9px 0;
  text-align: center;
  border-top: 1px solid borderColor;
  margin: 0px;
  order: 3;
}

.social li {
  display: inline-block;
  font-size: 27px;
  margin-left: 40px;
}

.about:hover ul, .subMenu:hover {
  display: block;
  opacity: 1;
}

.menu, .social {
  display: none;
}

.toggleMenu {
  display: block;
}
.facebook {
  composes: faDefaults facebookLogo;
}

.instagram {
  composes: faDefaults instagramLogo;
}

.twitter {
  composes: faDefaults twitterLogo;
}



@media only screen and (min-width: 600px) {
  .social {
    display: block;
  }

  .siteBanner nav {
    flex-wrap: nowrap;
  }

  .siteBanner nav h1 {
    display: none;
  }

  .menu {
    display: block;
    order: 1;
  }

  .menu > li {
    display: inline-block;
    padding: 17px 15px;
  }

  .menu a {
    border-top: 0px;
    display: inline;
    padding-left: 0px;
  }

  .siteBranding {
    padding: 30px 0 36px 0;
  }

  .siteBranding img {
    zoom: 1;
  }

  .subMenu a {
    padding-left: 30px;
  }

  .about > a:after {
    /* fa-angle-down */
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 5px;
  }

  .subMenu {
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    list-style: none;
    opacity: 0;
    position: absolute;
    transition: 300ms;
    top: 52px;
    left: 0px;
  }

  .subMenu li {
    border: 1px solid borderColor;
    padding: 15px 60px 15px 0px;
    text-align: left;
  }

  .social {
    border: none;
    flex: 1 6 22%;
    order: 2;
    padding: 10px 10px;
    text-align: right;
  }

  .social li {
    margin-left: 10px;
  }

  .listen {
    text-align: left;
    flex: 1 6 22%;
    order: 0;
  }
}
